body{
    background-color: blanchedalmond;
}
h1{
    color: brown;
    text-align: right;
}
h2{
    color: brown;
    text-align: right;
}
h3{
    color: brown;
    text-align: right;
}
p{
    
    text-align: right;
}